*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
  width: 1000px;

}

.scroll-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scroll-bar_center {
  display: flex;
  gap: 32px;
}

.scroll-bar_right {
  display: flex;;
}